@mixin sm {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin flexbox($justify-content: flex-start, $align-items: flex-start, $flex-direction: row, $flex-wrap: nowrap, $gap: 0) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    gap: $gap;
}
