.node.hover:has(.ghost) {
  &.node-list {
    padding: 1.5rem;
  }
}

.container.hover {
  .node {
    transition: all 0.2s ease-in-out;
    background-color: var(--node-hover);
    box-shadow: 0 2px 5px 0 var(--shadow-outer);
  }
}

.vue-flow__handle {
  width: 12px;
  height: 12px;
  top: calc(30px + 1rem + 1px);
}

.not-connected {
  background-color: var(--editor-red);
}

.container {
  position: relative;
}

.node-title {
  height: 1.5rem;
  margin: 0;
  padding: 0 0.2rem;
  top: -1.75rem;
  max-width: calc(60px + 1.8rem);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;

  border-radius: 4px;

  &.active {
    color: var(--editor-blue);
  }

  &:hover {
    overflow: visible;
  }
}
